<dir-page-header heading="vm.heading"
                 icon="vm.icon"
                 show-search="true"
                 show-new-button="true"
                 add-new-button-function="vm.newRecord()">
</dir-page-header>


<md-content class="main-content md-padding page-content transparent">
    <md-content class="md-padding">
            <form name="filterForm">
                <div layout-gt-md="row" layout-md="column">
                    <div flex>
                        <md-input-container>
                            <label>Select Product</label>
                            <md-select ng-model="vm.filter.productDescription" style="display:inherit">
                                <md-option value="{{product.description}}" ng-repeat="product in vm.products">{{product.description}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex>                       
                        <div flex flex-gt-md="33" layout="row" class="md-block">
                            <md-datepicker flex="auto" ng-required="vm.filter.fromDate != undefined" class="md-datepicker-custom md-hide-overflow" ng-model="vm.filter.toDate" required md-placeholder="To Created Date"></md-datepicker>
                        </div>
                    </div>
                    <div flex>                       
                        <div flex="5" hide-md></div><!-- gutter -->
                        <div flex flex-gt-md="33" layout="row" class="md-block">
                            <md-datepicker flex="auto" ng-required="vm.filter.fromDate != undefined" class="md-datepicker-custom md-hide-overflow" ng-model="vm.filter.toDate" required md-placeholder="To Created Date"></md-datepicker>
                        </div>
                    </div>
                    <div flex="5" hide-md></div><!-- gutter -->                   
                </div> 
                <div flex layout="row" layout-align="end end">
                    <md-button class="md-raised md-primary" layout-align="start start" ng-click="vm.clear()">Clear</md-button>
                    <md-button class="md-raised md-primary" ng-disabled="filterForm.$invalid" ng-click="vm.filter(vm.filter)">Filter</md-button>
                </div>               
            </form>       
    </md-content>
    <md-content class="box-shadow">
        <div ui-grid="vm.gridOptions" ui-grid-edit ui-grid-selection ui-grid-exporter class="grid"></div>
    </md-content>
</md-content>