<div class="md-padding md-application-cards" layout="row" layout-wrap>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/ViewRecruitment')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#eab600">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Block Makers</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/ViewRecruitment')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#7a0046">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Bricklayer</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/ViewRecruitment')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Civil</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/ViewRecruitment')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Delivery Report</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/ViewRecruitment')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Fuel Report</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/ViewRecruitment')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Machine Services</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/ViewRecruitment')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Production & Concrete Report</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/ViewRecruitment')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Steel Worker</p>
        </div>
    </md-card>
</div>