<dir-page-header heading="vm.heading"
                 icon="vm.icon">
</dir-page-header>

<div class="md-padding md-application-cards" layout="row" layout-wrap>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/blockMaker')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#eab600">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Block Makers</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/bricklayer')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#7a0046">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Bricklayer</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/civil')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Civil</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/delivery')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Delivery</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/fuel')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Fuel</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/machineServices')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Machine Services</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/productionAndConcrete')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Production & Concrete</p>
        </div>
    </md-card>
    <md-card flex layout-align="center center" class="md-flip-in" ng-click="vm.navigateTo('/steelWorker')">
        <div layout="column" layout-align="center center">
            <md-icon class="no-margin" style="color:#005a52">business_center</md-icon>
            <p class="no-margin md-font-size-xs">Steel Worker</p>
        </div>
    </md-card>
</div>