<md-dialog ng-cloak class="large">
    <md-toolbar class="color-blue md-title-header-bar" style="width:100%!important">
        <div class="md-toolbar-tools">
            <h2 ng-if="isEdit == false">New</h2>
            <h2 ng-if="isEdit == true">Edit</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeModal()">
                <md-icon md-font-icon="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="machineServiceForm">
            <div flex layout-gt-md="row" layout="column">
                <md-input-container class="md-block">
                    <label>Select Product</label>
                    <md-select ng-model="machineService.productDescription" required name="productDescription">
                        <md-option value="{{product.description}}" ng-repeat="product in products">{{product.description}}</md-option>
                    </md-select>
                    <div ng-messages="machineServiceForm.productDescription.$error" ng-if="machineServiceForm.productDescription.$dirty || formSubmitted">
                        <div ng-message="required">Please select product description</div>
                    </div>
                </md-input-container>
                <div flex="5" hide-md></div><!-- gutter -->
                <md-input-container class="md-block">
                    <label>Model</label>
                    <input ng-model="machineService.model" name="model" type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/" />
                    <div ng-messages="machineServiceForm.model.$error" ng-if="machineServiceForm.model.$dirty || formSubmitted">
                        <div ng-message-exp="['pattern']">You cannot capture special characters</div>
                    </div>
                </md-input-container>
                <div flex="5" hide-md></div><!-- gutter -->
                <div flex flex-gt-md="33" layout="row" class="md-block">
                    <div flex="initial" class="padding-top-32">
                        <label class="padding-right-16">Date</label>
                    </div>
                    <md-datepicker flex="auto" class="md-datepicker-custom md-hide-overflow" ng-model="machineService.date" md-placeholder="Enter date"></md-datepicker>
                </div>
            </div>
            <div flex layout-gt-md="row" layout="column">
                <md-input-container class="md-block">
                    <label>Hours</label>
                    <input ng-model="machineService.hours" name="hours" type="text" ng-pattern="/^[1-9.][0-9.]*$/" />
                    <div ng-messages="machineServiceForm.hours.$error" ng-if="machineServiceForm.hours.$dirty || formSubmitted">
                        <div ng-message-exp="['pattern']">Please enter valid value</div>
                    </div>
                </md-input-container>
                <div flex="5" hide-md></div><!-- gutter -->
                <md-input-container class="md-block">
                    <label>Driver</label>
                    <input ng-model="machineService.driver" name="driver" type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/" />
                    <div ng-messages="machineServiceForm.driver.$error" ng-if="machineServiceForm.driver.$dirty || formSubmitted">
                        <div ng-message-exp="['pattern']">You cannot capture special characters</div>
                    </div>
                </md-input-container>
                <div flex="5" hide-md></div><!-- gutter -->
                <md-input-container class="md-block">
                    <label>repaired</label>
                    <md-select ng-model="machineService.repaired" required name="repaired">
                        <md-option value="Yes">Yes</md-option>
                        <md-option value="No">No</md-option>
                    </md-select>
                    <div ng-messages="machineServiceForm.repaired.$error" ng-if="machineServiceForm.repaired.$dirty || formSubmitted">
                        <div ng-message="required">Please select product description</div>
                    </div>
                </md-input-container>
            </div>
            <div flex layout-gt-md="row" layout="column">
                <md-input-container class="md-block">
                    <label>Breakdown</label>
                    <input ng-model="machineService.breakdown" name="breakdown" type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/" />
                    <div ng-messages="machineServiceForm.breakdown.$error" ng-if="machineServiceForm.breakdown.$dirty || formSubmitted">
                        <div ng-message="required">Please select product description</div>
                    </div>
                </md-input-container>
                <div flex="5" hide-md></div><!-- gutter -->
                <md-input-container class="md-block">
                    <label>Notes</label>
                    <input ng-model="machineService.notes" name="notes" type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/" />
                    <div ng-messages="machineServiceForm.notes.$error" ng-if="machineServiceForm.notes.$dirty || formSubmitted">
                        <div ng-message="required">The field above is required</div>
                        <div ng-message-exp="['pattern']">You cannot capture special characters</div>
                    </div>
                </md-input-container>
                <div flex="5" hide-md></div><!-- gutter -->
                <md-input-container class="md-block">
                    <label>Techncian</label>
                    <input ng-model="machineService.techncian" name="techncian" type="text" ng-pattern="/^[a-zA-Z0-9\s]*$/" />
                    <div ng-messages="machineServiceForm.techncian.$error" ng-if="machineServiceForm.techncian.$dirty || formSubmitted">
                        <div ng-message="required">The field above is required</div>
                        <div ng-message-exp="['pattern']">You cannot capture special characters</div>
                    </div>
                </md-input-container>
            </div>
        </form>
        <md-content class="md-padding">
            <div layout="row">
                <div flex="50" layout="column" layout-align="start start">
                    <md-button class="md-primary md-primary-custom" ng-click="closeModal()">Cancel</md-button>
                </div>
                <div flex="50" layout="row" layout-align="end end">
                    <md-button class="md-primary md-primary-custom" ng-if="isEdit == false" ng-click="create(machineService)">Add</md-button>
                    <md-button class="md-primary md-primary-custom" ng-if="isEdit == true" ng-click="Update(machineService)">Update</md-button>
                </div>
            </div>
        </md-content>
    </md-content>
</md-dialog>